{% load thumbnail %}
<article>
    <ul>
        <li>
            Автор: <a href="{% url 'posts:profile' post.author.username %}">{{ post.author.get_full_name }}</a>
        </li>
        <li>
            Дата публикации: {{ post.pub_date|date:"d E Y" }}
        </li>
    </ul>
    {% thumbnail post.image "480x339" crop="center" upscale=True as im %}
        <img class="card-img" src="{{ im.url }}" />
    {% endthumbnail %}
    <p>{{ post.text|linebreaksbr }}</p>
    {% if post.group %}
        <a href="{% url 'posts:group_list' post.group.slug %}">#{{ post.group }}</a>
    {% endif %}
    {% if not forloop.last %}<hr>{% endif %}
</article>