{% extends 'base.html' %}
{% load thumbnail %}
{% block title %}Страница группы - {{ group }}{% endblock %}
{% block content %}
  <div class="container py-5">
    <h1>{{ group.title }}</h1>
    <p>{{ group.description|linebreaks }}</p>
    {% for post in page_obj %}
      <article>
        <ul>
          <li>
            Автор: <a href="{% url 'posts:profile' post.author.username %}">{{ post.author.get_full_name }}</a>
          </li>
          <li>
            Дата публикации: {{ post.pub_date|date:"d E Y" }}
          </li>
        </ul>
        {% thumbnail post.image "480x339" crop="center" upscale=True as im %}
          <img class="card-img" src="{{ im.url }}" />
        {% endthumbnail %}
        <p>{{ post.text|linebreaks }}</p>
        {% if not forloop.last %}<hr>{% endif %}
      </article>
    {% endfor %}
  </div>
{% endblock %}